:root {
    --color-white: #FFF;
    --color-black: #000000;

    --color-grey: #202124;

    --color-primary: #6A8D73;

    --font-size-h1: clamp(1.2em, 4vw, 3em);
    --font-size-small: clamp(.5em, 2vw, 1.8em);
    --font-size-med: clamp(1.5em, 6vw, 4.5em);
    --font-size-big: clamp(2em, 9vw, 7em);

    --border: .15em solid var(--color-primary);
    --border-trans: .15em solid transparent;
}

* {
    font-family: 'Righteous', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
  }